<div id="container">

	<%= render :partial => "menu" %>
	
	<div id="controls">
		<div id="lights">
			<%= render :partial => "controls/UI/vertical_toggle", :locals => { :toggle_id => "loft", :state => @status[:lights][:loft], :label => "Loft", :device_id => DEVICES["loft"] } %>
			<%= render :partial => "controls/UI/vertical_toggle", :locals => { :toggle_id => "bedside_lamps", :state => @status[:lights][:bedside_lamps], :label => "Lamps", :device_id => DEVICES["bedside_lamps"] } %>
			<%= render :partial => "controls/UI/vertical_toggle", :locals => { :toggle_id => "balcony", :state => @status[:lights][:balcony], :label => "Balcony", :device_id => DEVICES["balcony"] } %>
			<%= render :partial => "controls/UI/vertical_toggle", :locals => { :toggle_id => "hallway", :state => @status[:lights][:hallway], :label => "Hallway", :device_id => DEVICES["hallway"] } %>
			<%= render :partial => "controls/UI/vertical_toggle", :locals => { :toggle_id => "stairs", :state => @status[:lights][:stairs], :label => "Stairs", :device_id => DEVICES["stairs"] } %>
			<%= render :partial => "controls/UI/vertical_slider", :locals => { :subsystem => "lights", :slider_id => "living_dimmer", :value => @status[:lights][:living_dimmer], :label => "Living", :device_id => DEVICES["living_dimmer"] } %>
			<%= render :partial => "controls/UI/vertical_slider", :locals => { :subsystem => "lights", :slider_id => "dining_dimmer", :value => @status[:lights][:dining_dimmer], :label => "Dining", :device_id => DEVICES["dining_dimmer"] } %>
		</div>
		<hr />
		<div id="presets">
			<%= render :partial => "controls/UI/preset_buttons", :locals => { :set_id => "bedroom_preset_buttons" } %>
		</div>
		<div id="hvac">
			<%= render :partial => "controls/UI/up_down", :locals => { :control_id => "thermostat_loft", :device_id => DEVICES["thermostat_loft"], :subsystem => "hvac", :key => "thermostat_loft", :value => @status[:hvac][:thermostat_loft], :label => "LOFT", :units => "&deg;C" } %>
		</div>
	</div>
	
	<%= render :partial => "app_switcher" %>
	
</div>

<script type="text/javascript">
	<%= render :partial => "controls.rjs", :locals => { :panel => "bedroom" } %>
</script>