<p>
  <b>Name:</b>
  <%=h @link.name %>
</p>

<p>
  <b>Href:</b>
  <%=h @link.href %>
</p>

<p>
  <b>Icon:</b>
  <%=h @link.icon %>
</p>

<p>
  <b>Panel:</b>
  <%=h @link.panel %>
</p>

<p>
  <b>Order:</b>
  <%=h @link.order %>
</p>


<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>