<div id="<%= control_id %>_up_down" class="up_down">
	<h3>
		<%= label %><br />
	</h3>
	<div style="float: left;">		
		<div class="up_down_value">
			<span id="<%= control_id %>_value_and_units"><span id="<%= control_id %>_value"><%= value %></span><%= units %></span><br />
		</div>
		<div id="<%= control_id %>_status" class="up_down_status"></div>
	</div>
	<div class="up_down_buttons">
		<%= link_to_function("", 
					"newTemp = parseFloat(window.controls.#{subsystem}.#{control_id}) + 0.5;
					setTemperature('#{control_id}', newTemp);
					pushTemperature('#{control_id}', newTemp)", 
					:id => "#{control_id}_up", 
					:class => "button up"
				) 
		%>
		<%= link_to_function("", 
					"newTemp = parseFloat(window.controls.#{subsystem}.#{control_id}) - 0.5;
					setTemperature('#{control_id}', newTemp);
					pushTemperature('#{control_id}', newTemp)",
					:id => "#{control_id}_down", 
					:class => "button down"
				) 
		%>
	</div>
	<script type="text/javascript">
		
	</script>
</div>
	
