<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	
	<head>
		<!-- TITLE -->
	  <title>West House | Controls</title>

		<!-- META -->
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		
		<!-- ICONS -->
		<link rel="shortcut icon" href="/images/icons/favicon.png" type="image/png" /> <!-- standards-based browsers -->
		<link rel="shortcut icon" href="/images/icons/favicon.ico" /> <!-- IE6 -->
	  
	  <!-- STYLE -->
		<%= stylesheet_link_tag "ui_elements" %>
		<%= stylesheet_link_tag "controls_secondary" %>
	  
	  <!-- BEHAVIOUR -->
		<%= javascript_include_tag :defaults %>
		<%= javascript_include_tag :juggernaut %>
		<%= javascript_include_tag "controls" %>
		<%= javascript_include_tag "update_controls" %>
		<%= javascript_include_tag "trigger_preset_commands" %>
		<%= javascript_include_tag "ui_functions" %>
		<%= javascript_include_tag "utility" %>
		
		 <!-- PUSH SERVER -->
		<%= juggernaut :client_id => @client_id, :debug => false %>   
		
	</head>
	
	<body>

		<%= yield %>
	
		<!-- SCRIPTS -->
		<script type="text/javascript">
			//initialize controls for this client
			initializeControls('<%= @client_id %>');
			//pass device hash to javascript
			<%= update_page do |page|
						page.assign "devices", DEVICES
					end %>
		</script>
	
	</body>
</html>
